{% extends '_base.html' %}
{% load widget_tweaks %}
{% load i18n %}

{% block content %}
<!--Filter Form-->
<form method="get" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 mt-3">
    {% csrf_token %}
    {{ filter.form }}
    <button type="submit" class="block text-center sm:w-44 py-2 border text-gray-700 bg-yellow-400 hover:bg-yellow-500 rounded-lg focus:ring-indigo-600 focus:border-indigo-600 sm:text-sm font-bold">Αναζήτηση</button>
</form>
<!--End Filter Form-->

<div class="divider divider-primary"></div>

{% endblock %}