{% extends '_base.html' %}

{% block content %}
  <div class="min-h-screen flex justify-center items-center bg-gray-100">
    <div class="bg-white p-8 rounded-xl shadow w-full max-w-md">
      <h1 class="text-3xl font-bold mb-6">Choose a New Password</h1>

      <form method="post">
        {% csrf_token %}

        <div class="mb-5">
          <label class="block mb-2">New Password</label>

          {{ form.new_password1 }}
        </div>

        <div class="mb-5">
          <label class="block mb-2">Confirm Password</label>

          {{ form.new_password2 }}
        </div>

        {% if form.errors %}
          <div class="text-red-600 mb-4">{{ form.errors }}</div>
        {% endif %}

        <button class="w-full bg-green-600 hover:bg-green-700 text-white rounded-lg py-3">Reset Password</button>
      </form>
    </div>
  </div>
{% endblock %}
