<!-- Parameters Sidebar -->
<aside class="
    w-64
    bg-white
    border-r
    border-gray-200
    rounded-lg
    shadow-sm
">

    <div class="p-5 border-b border-gray-200">
        <h2 class="text-lg font-semibold">
            Παραμετρικά
        </h2>
        <p class="text-sm text-gray-600">
            Διαχείριση των τιμών αναζήτησης του συστήματος
        </p>
    </div>

    <nav class="py-2">

        <!-- Job Types -->
        <a href="{% url 'parameters:job_types' %}"
           class="
           flex items-center gap-3
           px-5 py-3
           hover:bg-teal-300
           text-gray-600
            hover:text-black
           transition">
            <span>Εργασία</span>
        </a>

        <!-- Applications -->
        <a href="{% url 'parameters:ots_software' %}"
           class="
           flex items-center gap-3
           px-5 py-3
            hover:bg-teal-300
           text-gray-600
            hover:text-black
           transition">
            <span>Εφαρμογές OTS</span>
        </a>

        <!-- Departments -->
        <a href="{% url 'parameters:org_department' %}"
           class="
           flex items-center gap-3
           px-5 py-3
            hover:bg-teal-300
           text-gray-600
            hover:text-black
           transition">
            <span>Διευθύνσεις Οργανισμού</span>
        </a>
        
        <!-- Training Types -->
        <a href="{% url 'parameters:training_type' %}"
           class="
           flex items-center gap-3
           px-5 py-3
            hover:bg-teal-300
           text-gray-600
            hover:text-black
           transition">
            <span>Τύποι Εκπαίδευσης</span>
        </a>

        <!-- Priorities -->
        <a href="{% url 'parameters:acs_adeia_type' %}"
           class="
           flex items-center gap-3
           px-5 py-3
            hover:bg-teal-300
           text-gray-600
            hover:text-black
           transition">
            <span>Τύπος άδειας</span>
        </a>

        <!-- Servers -->
        <a href="{% url 'admin:index' %}" target="_blank"
           class="
           flex items-center gap-3
           px-5 py-3
            hover:bg-teal-300
           text-gray-600
            hover:text-black
           transition">
            <span>Ρυθμίσεις</span>
        </a>
        
        <!-- Import data -->
        <a href="{% url 'parameters:import' %}"
           class="
           flex items-center gap-3
           px-5 py-3
            hover:bg-teal-300
           text-gray-600
            hover:text-black
           transition">
            <span>Import CSV</span>
        </a>

    </nav>

</aside>