{% for emp in employees %}
  <div class="rounded-xl border border-gray-200 bg-white p-5 shadow-sm transition hover:shadow-md">
    <div class="flex items-center gap-4">
      <div class="flex h-12 w-12 items-center justify-center rounded-full font-semibold text-gray-800
          {% cycle 
              'bg-blue-300'
              'bg-green-300'
              'bg-purple-300'
              'bg-pink-300'
              'bg-yellow-300'
              'bg-indigo-300'
              'bg-red-300'
          %}">
    
        <div class="flex h-12 w-12 items-center justify-center rounded-full font-semibold text-gray-800
        {% cycle 'bg-blue-300' 'bg-green-300' 'bg-purple-300' 'bg-pink-300' 'bg-yellow-300' 'bg-indigo-300' 'bg-red-300' %}">
        
        {{ emp.initials }}

        </div>

      </div>

      <div>
        <h3 class="font-semibold text-gray-900">
          {{ emp.firstname }} {{ emp.lastname }}
        </h3>

        <p class="text-sm text-gray-500">
          {{ emp.org_department }}
        </p>
      </div>
    </div>

    <div class="mt-5 space-y-2 text-sm text-gray-600">

      <div class="flex justify-between">
        <span>Τηλέφωνο</span>
        <span class="font-medium text-gray-900">
          {{ emp.phone|default:"-" }}
        </span>
      </div>

      <div class="flex justify-between">
        <span>Email</span>
        <span class="font-medium text-gray-900">
          {{ emp.email }}
        </span>
      </div>

      <div class="flex justify-between">
        <span>Οργανισμός</span>
        <span class="font-medium text-gray-900">
          {{ emp.organization }}
        </span>
      </div>

      <div class="flex justify-between items-center">
        <span>Κατάσταση</span>

        {% if emp.is_active %}
          <span class="rounded-full bg-green-100 px-3 py-1 text-xs text-green-700">
            Ενεργός
          </span>
        {% else %}
          <span class="rounded-full bg-red-100 px-3 py-1 text-xs text-red-700">
            Μη ενεργός
          </span>
        {% endif %}
      </div>

      <div class="flex justify-between">
        <span>Δημιουργήθηκε</span>
        <span>
          {{ emp.created|date:'d/m/Y' }}
        </span>
      </div>

    </div>

    <div class="mt-5 flex items-center justify-between">
      {% if emp.is_active  %}
      <a
        href="{% url 'organizations:soft_delete_employee' emp.pk %}"
        class="rounded-lg bg-red-600 px-4 py-2 text-sm font-medium text-white hover:bg-red-700"
      >
        Διαγραφή
      </a>
      {% else%}
      <a
        href="{% url 'organizations:restore_employee' emp.pk %}"
        class="rounded-lg bg-red-600 px-4 py-2 text-sm font-medium text-white hover:bg-red-700"
      >
        Ενεργοποίηση
      </a>
      {%endif %}
      <a
        href="#"
        class="rounded-lg bg-teal-600 px-4 py-2 text-sm font-medium text-white hover:bg-teal-700"
      >
        Επεξεργασία
      </a>
    </div>
  </div>

{% empty %}
  <div class="col-span-full rounded-xl bg-white p-8 text-center text-gray-500">
    Δεν υπάρχουν εργαζόμενοι
  </div>
{% endfor %}


{% if is_htmx %}
<div id="load-more-container" hx-swap-oob="true">
    {% include "organizations/employee/_load_more.html" %}
</div>
{% endif %}