{% extends '_base.html' %}
{% load widget_tweaks %}
{% load custom_filters %}
{% load i18n %}

{% block content %}
<!--Filter Form-->
<form method="get" action="#" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 mt-3">
    {% csrf_token %}
    {{ filter.form }}
    <button type="submit" class="block text-center sm:w-44 py-2 border text-gray-700 bg-yellow-400 hover:bg-yellow-500 rounded-lg focus:ring-indigo-600 focus:border-indigo-600 sm:text-sm font-bold">Αναζήτηση</button>
</form>
<!--End Filter Form-->

<div class="divider divider-primary"></div>

<!--Buttons-->
<div class="">
    <button type="button" class="px-4 py-2.5 text-sm font-medium text-white transition-all duration-200 bg-indigo-600 hover:bg-indigo-700  rounded-lg group" title="Νέα εγγραφή" onclick="window.location.href='/'">
        {% trans 'Νέα εγγραφή' %}
    </button>
    <button type="button" class="px-4 py-2.5 text-sm font-medium text-white transition-all duration-200 bg-green-600 hover:bg-green-700  rounded-lg group" title="Export" onclick="window.location.href='/'">
        Export
    </button>
    <a href="{% url 'pelatis' %}" class="px-4 py-2.5 text-sm font-medium text-white transition-all duration-200 bg-teal-600 hover:bg-teal-700  rounded-lg group" title="Export">Eνεργές εγγραφές</a>
</div>
<!--End Buttons-->

<!--Φορέας Λίστα-->
<div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-5">
    <div class="hidden sm:block">
        <table class="w-full text-sm text-center rtl:text-right text-gray-500 dark:text-white">
            <thead class="text-xs odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b ">
                <tr>
                    <th colspan="8" class="text-center text-2xl font-bold">Πελάτες</th>
                </tr>
                <tr>
                    <th scope="col" class="px-4 py-2">Φορέας</th>
                    <th scope="col" class="px-4 py-2">Διεύθυνση</th>
                    <th scope="col" class="px-4 py-2">Πόλη</th>
                    <th scope="col" class="px-4 py-2">Τηλέφωνο</th>
                    <th scope="col" class="px-4 py-2">Email</th>
                    <th scope="col" class="px-4 py-2">Ιστιότοπος</th>
                    <th scope="col" class="px-4 py-2">Ενέργειες</th>
                </tr>
            </thead>
            <tbody>
                {% for organization in foreas_list %}
                <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b ">
                    <td class="px-4 py-2 border-b" data-label="Φορέας">
                        <input type="text" value="{{organization.name }}" class="w-full bg-transparent border-none text-center text-sm rounded-md" id="name-{{ dhmos.id }}"></td>
                    <td class="px-4 py-2" data-label="Διεύθυνση">
                        <input type="text" value="{{organization.address }}" class="w-full bg-transparent border-none text-center text-sm rounded-md" id="address-{{ dhmos.id }}"></td>
                    <td class="px-4 py-2" data-label="Πόλη">
                        <input type="text" value="{{organization.city }}" class="w-full bg-transparent border-none text-center text-sm rounded-md" id="city-{{ dhmos.id }}"></td>
                    <td class="px-4 py-2" data-label="Τηλέφωνο">
                        <input type="text" value="{{organization.phone }}" class="w-full bg-transparent border-none text-center text-sm rounded-md" id="phone-{{ dhmos.id }}"></td>
                    <td class="px-4 py-2" data-label="Email">
                        <input type="text" value="{{organization.email }}" class="w-full bg-transparent border-none text-center text-sm rounded-md" id="email-{{ dhmos.id }}"></td>
                    <td class="px-4 py-2" data-label="Ιστιότοπος">
                        <input type="text" value="{{organization.website | remove_protocol }}" class="w-full bg-transparent border-none text-center text-sm rounded-md" id="website-{{ dhmos.id }}"></td>
                    <td class="px-4 py-2" data-label="Ενέργειες">
                        <a href="{% url 'restore_organization' organization.pk %}" class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-lg dark:bg-green-600 dark:hover:bg-green-700 focus:outline-none dark:focus:ring-green-800" onclick="return confirm('Είστε σίγουροι για την ενεργοποίηση του Φορέα;');">Restore</a>
                        
                    </td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
<!-- Cards for smaller screens -->
<div class="block sm:hidden space-y-4">
    {% for organization in foreas_list %}
        <div class="border p-4 rounded-lg shadow-md bg-white">
            <p><span class="font-bold text-gray-700 mr-2">Φορέας:</span>{{organization.name|title|default_if_none:""}}</p>
            <p><span class="font-bold text-gray-700 mr-2">Διεύθυνση:</span> {{organization.address}}</p>
            <p><span class="font-bold text-gray-700 mr-2">Πόλη:</span> {{organization.city}}</p>
            <p><span class="font-bold text-gray-700 mr-2">Τηλέφωνο:</span>{{organization.phone}}</p>
            <p><span class="font-bold text-gray-700 mr-2">Email:</span>{{organization.email}}</p>
            <p><span class="font-bold text-gray-700 mr-2">Ιστιότοπος:</span>{{organization.website| remove_protocol}}</p>
            <p><span class="font-bold text-gray-700 mr-2"></span> 
            {% if organization.is_visible == True %}
                <td class="px-4 py-2 text-green-500 font-bold" data-label="Κατάσταση">Online</td>
            {% else %}
                <td class="px-4 py-2 text-red-600 font-bold">Offline
            {% endif %}</p>
        </div>
    {% endfor %}
</div>
<!--End Cards-->
</div>
<!--End Φορέας -->

<!-- Centered Pagination Controls -->
<div class="flex justify-center items-center mt-6 space-x-2">
    <!-- Previous Page Link -->
{% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}" class="px-4 py-2 bg-gray-200 text-gray-700 rounded hover:bg-gray-300 font-medium">
    Previous
    </a>
{% else %}
    <span class="px-4 py-2 bg-gray-100 text-gray-400 rounded font-medium">Previous</span>
{% endif %}

<!-- Page Numbers -->
{% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
    <span class="px-4 py-2 bg-blue-700 text-white rounded font-medium">{{ num }}</span>
    {% else %}
    <a href="?page={{ num }}" class="px-4 py-2 bg-gray-200 text-gray-700 rounded hover:bg-gray-300 font-medium">{{ num }}</a>
    {% endif %}
{% endfor %}

<!-- Next Page Link -->
{% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}" class="px-4 py-2 bg-gray-200 text-gray-700 rounded hover:bg-gray-300 font-medium">
    Next
    </a>
{% else %}
    <span class="px-4 py-2 bg-gray-100 text-gray-400 rounded font-medium">Next</span>
{% endif %}
</div>
<!--End Center pagination Controlss-->

<script>
    function saveChanges(organizationId) {
        const name = document.getElementById(`name-${organizationId}`).value;
        const address = document.getElementById(`address-${organizationId}`).value;
        const city = document.getElementById(`city-${organizationId}`).value;
        const phone = document.getElementById(`phone-${organizationId}`).value;
        const email = document.getElementById(`email-${organizationId}`).value;
        const website = document.getElementById(`website-${organizationId}`).value;
        const isVisible = document.getElementById(`is_visible-${organizationId}`).checked;

        fetch(`/acs-services/edit/${organizationId}/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value,
            },
            body: JSON.stringify({
                name: name,
                address: address,
                city: city,
                phone: phone,
                email: email,
                website: website,
                is_visible: isVisible,

            }),
        })
        .then(response => response.json())
        .then(data => {
            alert('Customer updated successfully!');
            // Optionally, update the UI here without a page reload
        })
        .catch(error => {
            console.error('Error:', error);
            alert('Failed to update customer');
        });
    }
</script>

{% endblock %}
