{% extends '_base.html' %}

{% block content %}

<!-- Container for cards -->
  <div class="container mx-auto px-4 py-8">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      
      <!-- Card 1 -->
      <a href="{% url 'tasks' %}">
      <div class="bg-indigo-600 rounded-lg shadow-lg overflow-hidden flex flex-col justify-center items-center text-center p-4">
        <div class="p-4">
          
            <h3 class="font-bold text-xl mb-2 text-white">Εργασίες</h3>
          <p class="text-white font-bold text-5xl">{{organization_total_task_count}}</p>
        </div>
      </div></a>
      
      <!-- Card 2 -->
      <a href="">
      <div class="bg-white border border-indigo-600 rounded-lg shadow-lg overflow-hidden flex flex-col justify-center items-center text-center p-4">
        <div class="p-4">
          <h3 class="font-bold text-xl mb-2 text-indigo-600">Άδειες</h3>
          <p class="text-indigo-600 font-bold text-5xl">{{adeia_count}}</p>
        </div>
      </div></a>

      <!-- Card 3 -->
      <a href="">
      <div class="bg-red-600 rounded-lg shadow-lg overflow-hidden flex flex-col justify-center items-center text-center p-4">
        <div class="p-4">
          <h3 class="font-bold text-xl mb-2 text-white">Εκπαιδεύσεις</h3>
          <p class="text-white font-bold text-5xl">{{total_training}}</p>
        </div>
      </div></a>

     <!-- Card 4 -->
      {% comment %} <a href="">
      <div class="bg-sky-950 rounded-lg shadow-lg overflow-hidden flex flex-col justify-center items-center text-center p-4">
        <div class="p-4">
          <h3 class="font-bold text-xl mb-2 text-white">Μαθήματα</h3>
          <p class="text-white font-bold text-5xl"></p>
        </div>
      </div></a> {% endcomment %}

    </div>
  </div>
{% endblock %}